:root {
  --grey-400: rgba(124, 141, 176, 1);
  --grey-100: rgba(250, 250, 250, 1);
  --grey-900: rgba(39, 39, 63, 1);
  --grey-600: rgba(110, 116, 145, 1);
  --purple-white: rgba(246, 246, 254, 1);
  --grey-200: rgba(203, 212, 230, 1);
  --true-white: rgba(255, 255, 255, 1);
  --purple-blue: rgba(96, 93, 236, 1);
  --purple-extra-light: rgba(233, 232, 252, 1);
  --purple-dark: rgba(21, 19, 160, 1);
  --red: rgba(235, 87, 87, 1);
  --red-light: rgba(253, 239, 239, 1);
  --grey-800: rgba(54, 55, 74, 1);
  --grey-300: rgba(161, 176, 204, 1);
  --purple-light: rgba(188, 186, 247, 1);
  --body-large-font-family: "Nunito Sans", Helvetica;
  --body-large-font-weight: 400;
  --body-large-font-size: 18px;
  --body-large-letter-spacing: 0px;
  --body-large-line-height: normal;
  --body-large-font-style: normal;
  --body-default-font-family: "Nunito Sans", Helvetica;
  --body-default-font-weight: 400;
  --body-default-font-size: 16px;
  --body-default-letter-spacing: 0px;
  --body-default-line-height: normal;
  --body-default-font-style: normal;
  --header-h6-font-family: "Nunito Sans", Helvetica;
  --header-h6-font-weight: 600;
  --header-h6-font-size: 14px;
  --header-h6-letter-spacing: 0px;
  --header-h6-line-height: normal;
  --header-h6-font-style: normal;
  --body-small-font-family: "Nunito Sans", Helvetica;
  --body-small-font-weight: 400;
  --body-small-font-size: 14px;
  --body-small-letter-spacing: 0px;
  --body-small-line-height: normal;
  --body-small-font-style: normal;
  --body-extra-small-font-family: "Nunito Sans", Helvetica;
  --body-extra-small-font-weight: 400;
  --body-extra-small-font-size: 12px;
  --body-extra-small-letter-spacing: 0px;
  --body-extra-small-line-height: normal;
  --body-extra-small-font-style: normal;
  --elevation-medium: 0px 12px 24px 0px rgba(27, 59, 119, 0.05), 0px 24px 60px 0px rgba(6, 47, 125, 0.05),
    0px 2px 4px 0px rgba(7, 4, 146, 0.1);
}
