body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --semibold: Lato;
  --font-poppins: Poppins;

  /* font sizes */
  --semibold-size: 16px;
  --font-size-xs: 12px;
  --font-size-smi: 13px;

  /* Colors */
  --color-white: #fff;
  --color-midnightblue-100: #3a014b;
  --color-midnightblue-200: #300942;
  --color-black: #000;
  --color-darkgray: #999;

  /* Gaps */
  --gap-0: 0px;
  --gap-30xl: 49px;
  --gap-20xl: 39px;
  --gap-4xs: 9px;
  --gap-xl: 20px;

  /* Paddings */
  --padding-3xl: 22px;
  --padding-xl: 20px;

  /* Border radiuses */
  --br-mini: 15px;
  --br-13xl: 32px;
}
