:root {
  --16-semibold-font-family: "Lato", Helvetica;
  --16-semibold-font-weight: 600;
  --16-semibold-font-size: 16px;
  --16-semibold-letter-spacing: 0px;
  --16-semibold-line-height: 34.11878204345703px;
  --16-semibold-font-style: normal;
}
