:root {
  --colorbackground: rgba(243, 244, 255, 1);
  --colortext: rgba(48, 57, 114, 1);
  --colorwhite: rgba(255, 255, 255, 1);
  --colorgray-3: rgba(160, 152, 174, 1);
  --colorpurple: rgba(77, 68, 181, 1);
  --colorgray-2: rgba(219, 219, 219, 1);
  --colororange: rgba(251, 125, 91, 1);
  --coloryellow: rgba(252, 196, 62, 1);
  --heading-heading-1-font-family: "Poppins", Helvetica;
  --heading-heading-1-font-weight: 700;
  --heading-heading-1-font-size: 36px;
  --heading-heading-1-letter-spacing: 0px;
  --heading-heading-1-line-height: normal;
  --heading-heading-1-font-style: normal;
  --text-text-semi-bold-2-font-family: "Poppins", Helvetica;
  --text-text-semi-bold-2-font-weight: 600;
  --text-text-semi-bold-2-font-size: 14px;
  --text-text-semi-bold-2-letter-spacing: 0px;
  --text-text-semi-bold-2-line-height: normal;
  --text-text-semi-bold-2-font-style: normal;
  --text-text-regular-2-font-family: "Poppins", Helvetica;
  --text-text-regular-2-font-weight: 400;
  --text-text-regular-2-font-size: 14px;
  --text-text-regular-2-letter-spacing: 0px;
  --text-text-regular-2-line-height: normal;
  --text-text-regular-2-font-style: normal;
  --text-text-regular-1-font-family: "Poppins", Helvetica;
  --text-text-regular-1-font-weight: 400;
  --text-text-regular-1-font-size: 18px;
  --text-text-regular-1-letter-spacing: 0px;
  --text-text-regular-1-line-height: normal;
  --text-text-regular-1-font-style: normal;
  --heading-heading-4-font-family: "Poppins", Helvetica;
  --heading-heading-4-font-weight: 700;
  --heading-heading-4-font-size: 18px;
  --heading-heading-4-letter-spacing: 0px;
  --heading-heading-4-line-height: normal;
  --heading-heading-4-font-style: normal;
  --text-text-semi-bold-1-font-family: "Poppins", Helvetica;
  --text-text-semi-bold-1-font-weight: 600;
  --text-text-semi-bold-1-font-size: 18px;
  --text-text-semi-bold-1-letter-spacing: 0px;
  --text-text-semi-bold-1-line-height: normal;
  --text-text-semi-bold-1-font-style: normal;
  --shadow: 0px 20px 50px 0px rgba(191, 21, 108, 0.05);
}
