.admin-dashboard {
  background-color: #f3f4ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.admin-dashboard .div {
  background-color: var(--colorbackground);
  width: 1920px;
  height: 1163px;
  position: relative;
}

.admin-dashboard .text-wrapper {
  position: absolute;
  top: 49px;
  left: 395px;
  font-family: var(--heading-heading-1-font-family);
  font-weight: var(--heading-heading-1-font-weight);
  color: var(--colortext);
  font-size: var(--heading-heading-1-font-size);
  letter-spacing: var(--heading-heading-1-letter-spacing);
  line-height: var(--heading-heading-1-line-height);
  font-style: var(--heading-heading-1-font-style);
}

.admin-dashboard .student-list {
  height: 873px;
  top: 250px;
  position: absolute;
  width: 1475px;
  left: 395px;
}

.admin-dashboard .students-list {
  position: relative;
  height: 873px;
  background-color: var(--colorwhite);
  border-radius: 20px;
}

.admin-dashboard .navbar {
  position: absolute;
  width: 1427px;
  height: 24px;
  top: 32px;
  left: 32px;
}

.admin-dashboard .check {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  border-radius: 4px;
  border: 2px solid;
  border-color: #c1bbeb;
}

.admin-dashboard .text-wrapper-2 {
  left: 350px;
  position: absolute;
  top: 2px;
  font-family: var(--text-text-semi-bold-2-font-family);
  font-weight: var(--text-text-semi-bold-2-font-weight);
  color: var(--colortext);
  font-size: var(--text-text-semi-bold-2-font-size);
  letter-spacing: var(--text-text-semi-bold-2-letter-spacing);
  line-height: var(--text-text-semi-bold-2-line-height);
  font-style: var(--text-text-semi-bold-2-font-style);
}

.admin-dashboard .text-wrapper-3 {
  left: 54px;
  position: absolute;
  top: 2px;
  font-family: var(--text-text-semi-bold-2-font-family);
  font-weight: var(--text-text-semi-bold-2-font-weight);
  color: var(--colortext);
  font-size: var(--text-text-semi-bold-2-font-size);
  letter-spacing: var(--text-text-semi-bold-2-letter-spacing);
  line-height: var(--text-text-semi-bold-2-line-height);
  font-style: var(--text-text-semi-bold-2-font-style);
}

.admin-dashboard .text-wrapper-4 {
  left: 1232px;
  position: absolute;
  top: 2px;
  font-family: var(--text-text-semi-bold-2-font-family);
  font-weight: var(--text-text-semi-bold-2-font-weight);
  color: var(--colortext);
  font-size: var(--text-text-semi-bold-2-font-size);
  letter-spacing: var(--text-text-semi-bold-2-letter-spacing);
  line-height: var(--text-text-semi-bold-2-line-height);
  font-style: var(--text-text-semi-bold-2-font-style);
}

.admin-dashboard .text-wrapper-5 {
  position: absolute;
  top: 2px;
  left: 526px;
  font-family: var(--text-text-semi-bold-2-font-family);
  font-weight: var(--text-text-semi-bold-2-font-weight);
  color: var(--colortext);
  font-size: var(--text-text-semi-bold-2-font-size);
  letter-spacing: var(--text-text-semi-bold-2-letter-spacing);
  line-height: var(--text-text-semi-bold-2-line-height);
  font-style: var(--text-text-semi-bold-2-font-style);
}

.admin-dashboard .text-wrapper-6 {
  left: 716px;
  position: absolute;
  top: 2px;
  font-family: var(--text-text-semi-bold-2-font-family);
  font-weight: var(--text-text-semi-bold-2-font-weight);
  color: var(--colortext);
  font-size: var(--text-text-semi-bold-2-font-size);
  letter-spacing: var(--text-text-semi-bold-2-letter-spacing);
  line-height: var(--text-text-semi-bold-2-line-height);
  font-style: var(--text-text-semi-bold-2-font-style);
}

.admin-dashboard .text-wrapper-7 {
  left: 904px;
  position: absolute;
  top: 2px;
  font-family: var(--text-text-semi-bold-2-font-family);
  font-weight: var(--text-text-semi-bold-2-font-weight);
  color: var(--colortext);
  font-size: var(--text-text-semi-bold-2-font-size);
  letter-spacing: var(--text-text-semi-bold-2-letter-spacing);
  line-height: var(--text-text-semi-bold-2-line-height);
  font-style: var(--text-text-semi-bold-2-font-style);
}

.admin-dashboard .text-wrapper-8 {
  position: absolute;
  top: 2px;
  left: 1049px;
  font-family: var(--text-text-semi-bold-2-font-family);
  font-weight: var(--text-text-semi-bold-2-font-weight);
  color: var(--colortext);
  font-size: var(--text-text-semi-bold-2-font-size);
  letter-spacing: var(--text-text-semi-bold-2-letter-spacing);
  line-height: var(--text-text-semi-bold-2-line-height);
  font-style: var(--text-text-semi-bold-2-font-style);
}

.admin-dashboard .text-wrapper-9 {
  left: 1365px;
  position: absolute;
  top: 2px;
  font-family: var(--text-text-semi-bold-2-font-family);
  font-weight: var(--text-text-semi-bold-2-font-weight);
  color: var(--colortext);
  font-size: var(--text-text-semi-bold-2-font-size);
  letter-spacing: var(--text-text-semi-bold-2-letter-spacing);
  line-height: var(--text-text-semi-bold-2-line-height);
  font-style: var(--text-text-semi-bold-2-font-style);
}

.admin-dashboard .pagination {
  position: absolute;
  width: 1413px;
  height: 51px;
  top: 790px;
  left: 32px;
}

.admin-dashboard .showing-from {
  position: absolute;
  top: 13px;
  left: 0;
  font-family: var(--text-text-regular-2-font-family);
  font-weight: var(--text-text-regular-2-font-weight);
  color: transparent;
  font-size: var(--text-text-regular-2-font-size);
  letter-spacing: var(--text-text-regular-2-letter-spacing);
  line-height: var(--text-text-regular-2-line-height);
  font-style: var(--text-text-regular-2-font-style);
}

.admin-dashboard .span {
  color: #a098ae;
  font-family: var(--text-text-regular-2-font-family);
  font-style: var(--text-text-regular-2-font-style);
  font-weight: var(--text-text-regular-2-font-weight);
  letter-spacing: var(--text-text-regular-2-letter-spacing);
  line-height: var(--text-text-regular-2-line-height);
  font-size: var(--text-text-regular-2-font-size);
}

.admin-dashboard .text-wrapper-10 {
  color: #303972;
  font-family: var(--text-text-regular-2-font-family);
  font-style: var(--text-text-regular-2-font-style);
  font-weight: var(--text-text-regular-2-font-weight);
  letter-spacing: var(--text-text-regular-2-letter-spacing);
  line-height: var(--text-text-regular-2-line-height);
  font-size: var(--text-text-regular-2-font-size);
}

.admin-dashboard .page {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 0;
  left: 1131px;
}

.admin-dashboard .dropdown {
  position: relative;
  width: 32px;
  height: 32px;
}

.admin-dashboard .element {
  position: relative;
  width: 52px;
  height: 50px;
}

.admin-dashboard .overlap-group {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: var(--colorpurple);
  border-radius: 40px;
  box-shadow: 0px 7px 16px #00000024;
}

.admin-dashboard .text-wrapper-11 {
  position: absolute;
  width: 7px;
  top: 11px;
  left: 22px;
  font-family: var(--text-text-regular-1-font-family);
  font-weight: var(--text-text-regular-1-font-weight);
  color: var(--colorwhite);
  font-size: var(--text-text-regular-1-font-size);
  letter-spacing: var(--text-text-regular-1-letter-spacing);
  line-height: var(--text-text-regular-1-line-height);
  font-style: var(--text-text-regular-1-font-style);
}

.admin-dashboard .overlap-wrapper {
  position: relative;
  width: 53px;
  height: 51px;
}

.admin-dashboard .overlap {
  position: relative;
  width: 51px;
  height: 51px;
  border-radius: 40px;
  border: 2px solid;
  border-color: var(--colorgray-3);
}

.admin-dashboard .text-wrapper-12 {
  position: absolute;
  width: 11px;
  top: 10px;
  left: 18px;
  font-family: var(--text-text-regular-1-font-family);
  font-weight: var(--text-text-regular-1-font-weight);
  color: var(--colorgray-3);
  font-size: var(--text-text-regular-1-font-size);
  letter-spacing: var(--text-text-regular-1-letter-spacing);
  line-height: var(--text-text-regular-1-line-height);
  font-style: var(--text-text-regular-1-font-style);
}

.admin-dashboard .overlap-2 {
  position: absolute;
  width: 1475px;
  height: 678px;
  top: 80px;
  left: 0;
}

.admin-dashboard .border {
  position: absolute;
  width: 1475px;
  height: 566px;
  top: 0;
  left: 0;
}

.admin-dashboard .border-2 {
  top: 0;
  position: absolute;
  width: 1475px;
  height: 1px;
  left: 0;
  background-color: var(--colorgray-2);
  border-radius: 14px;
}

.admin-dashboard .border-3 {
  top: 113px;
  position: absolute;
  width: 1475px;
  height: 1px;
  left: 0;
  background-color: var(--colorgray-2);
  border-radius: 14px;
}

.admin-dashboard .border-4 {
  top: 339px;
  position: absolute;
  width: 1475px;
  height: 1px;
  left: 0;
  background-color: var(--colorgray-2);
  border-radius: 14px;
}

.admin-dashboard .border-5 {
  top: 226px;
  position: absolute;
  width: 1475px;
  height: 1px;
  left: 0;
  background-color: var(--colorgray-2);
  border-radius: 14px;
}

.admin-dashboard .border-6 {
  top: 452px;
  position: absolute;
  width: 1475px;
  height: 1px;
  left: 0;
  background-color: var(--colorgray-2);
  border-radius: 14px;
}

.admin-dashboard .border-7 {
  top: 565px;
  position: absolute;
  width: 1475px;
  height: 1px;
  left: 0;
  background-color: var(--colorgray-2);
  border-radius: 14px;
}

.admin-dashboard .list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
  position: absolute;
  top: 1px;
  left: 0;
}

.admin-dashboard .overlap-group-wrapper {
  position: relative;
  width: 1483px;
  height: 112px;
  margin-right: -8px;
}

.admin-dashboard .overlap-3 {
  position: relative;
  width: 1475px;
  height: 112px;
  background-color: var(--colorwhite);
}

.admin-dashboard .contact {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  top: 36px;
  left: 1078px;
}

.admin-dashboard .div-wrapper {
  position: relative;
  width: 40px;
  height: 40px;
}

.admin-dashboard .overlap-group-2 {
  position: relative;
  height: 40px;
  border-radius: 20px;
}

.admin-dashboard .placeholder {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  background-color: var(--colorpurple);
  border-radius: 20px;
  opacity: 0.1;
}

.admin-dashboard .img {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 8px;
}

.admin-dashboard .selected {
  position: absolute;
  width: 5px;
  height: 112px;
  top: 0;
  left: 0;
  background-color: var(--colorpurple);
}

.admin-dashboard .checkedbox {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 44px;
  left: 32px;
  background-color: var(--colorpurple);
  border-radius: 4px;
}

.admin-dashboard .vector {
  position: absolute;
  width: 16px;
  height: 14px;
  top: 6px;
  left: 4px;
}

.admin-dashboard .customer {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 32px;
  left: 86px;
}

.admin-dashboard .placeholder-2 {
  position: relative;
  width: 48px;
  height: 48px;
  background-color: #c1bbeb;
  border-radius: 40px;
}

.admin-dashboard .name {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.admin-dashboard .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--heading-heading-4-font-family);
  font-weight: var(--heading-heading-4-font-weight);
  color: var(--colortext);
  font-size: var(--heading-heading-4-font-size);
  letter-spacing: var(--heading-heading-4-letter-spacing);
  line-height: var(--heading-heading-4-line-height);
  font-style: var(--heading-heading-4-font-style);
}

.admin-dashboard .text-wrapper-14 {
  position: absolute;
  top: 46px;
  left: 558px;
  font-family: var(--text-text-regular-2-font-family);
  font-weight: var(--text-text-regular-2-font-weight);
  color: var(--colorgray-3);
  font-size: var(--text-text-regular-2-font-size);
  letter-spacing: var(--text-text-regular-2-letter-spacing);
  line-height: var(--text-text-regular-2-line-height);
  font-style: var(--text-text-regular-2-font-style);
}

.admin-dashboard .text-wrapper-15 {
  position: absolute;
  top: 46px;
  left: 748px;
  font-family: var(--text-text-regular-2-font-family);
  font-weight: var(--text-text-regular-2-font-weight);
  color: var(--colortext);
  font-size: var(--text-text-regular-2-font-size);
  letter-spacing: var(--text-text-regular-2-letter-spacing);
  line-height: var(--text-text-regular-2-line-height);
  font-style: var(--text-text-regular-2-font-style);
}

.admin-dashboard .text-wrapper-16 {
  position: absolute;
  top: 46px;
  left: 936px;
  font-family: var(--text-text-regular-2-font-family);
  font-weight: var(--text-text-regular-2-font-weight);
  color: var(--colortext);
  font-size: var(--text-text-regular-2-font-size);
  letter-spacing: var(--text-text-regular-2-letter-spacing);
  line-height: var(--text-text-regular-2-line-height);
  font-style: var(--text-text-regular-2-font-style);
}

.admin-dashboard .text-wrapper-17 {
  position: absolute;
  top: 46px;
  left: 382px;
  font-family: var(--text-text-semi-bold-1-font-family);
  font-weight: var(--text-text-semi-bold-1-font-weight);
  color: var(--colorpurple);
  font-size: var(--text-text-semi-bold-1-font-size);
  letter-spacing: var(--text-text-semi-bold-1-letter-spacing);
  line-height: var(--text-text-semi-bold-1-line-height);
  font-style: var(--text-text-semi-bold-1-font-style);
}

.admin-dashboard .status {
  display: flex;
  width: 80px;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  position: absolute;
  top: 36px;
  left: 1262px;
  background-color: var(--colororange);
  border-radius: 40px;
}

.admin-dashboard .content {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  position: relative;
  flex: 0 0 auto;
}

.admin-dashboard .text-wrapper-18 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-text-regular-2-font-family);
  font-weight: var(--text-text-regular-2-font-weight);
  color: var(--colorwhite);
  font-size: var(--text-text-regular-2-font-size);
  letter-spacing: var(--text-text-regular-2-letter-spacing);
  line-height: var(--text-text-regular-2-line-height);
  font-style: var(--text-text-regular-2-font-style);
}

.admin-dashboard .dots {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 44px;
  left: 1419px;
}

.admin-dashboard .content-wrapper {
  background-color: var(--coloryellow);
  display: flex;
  width: 80px;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  position: absolute;
  top: 36px;
  left: 1262px;
  border-radius: 40px;
}

.admin-dashboard .content-2 {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  position: relative;
  flex: 0 0 auto;
  margin-left: -1px;
  margin-right: -1px;
}

.admin-dashboard .check-2 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 44px;
  left: 32px;
  border-radius: 4px;
  border: 2px solid;
  border-color: #c1bbeb;
}

.admin-dashboard .status-2 {
  background-color: var(--colorpurple);
  display: flex;
  width: 80px;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  position: absolute;
  top: 36px;
  left: 1262px;
  border-radius: 40px;
}

.admin-dashboard .student-menu {
  height: 60px;
  top: 150px;
  position: absolute;
  width: 1475px;
  left: 395px;
}

.admin-dashboard .new-student-button {
  display: flex;
  flex-direction: column;
  width: 207px;
  height: 60px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 43px;
  position: absolute;
  top: 0;
  left: 1268px;
  background-color: var(--colorpurple);
  border-radius: 40px;
  box-shadow: var(--shadow);
}

.admin-dashboard .content-3 {
  position: relative;
  width: 148.24px;
  height: 27px;
  margin-left: -12.62px;
  margin-right: -14.62px;
}

.admin-dashboard .img-2 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 5px;
  left: 0;
}

.admin-dashboard .text-wrapper-19 {
  position: absolute;
  top: 0;
  left: 32px;
  font-family: var(--text-text-regular-1-font-family);
  font-weight: var(--text-text-regular-1-font-weight);
  color: var(--colorwhite);
  font-size: var(--text-text-regular-1-font-size);
  letter-spacing: var(--text-text-regular-1-letter-spacing);
  line-height: var(--text-text-regular-1-line-height);
  font-style: var(--text-text-regular-1-font-style);
}

.admin-dashboard .sort {
  display: flex;
  flex-direction: column;
  width: 207px;
  height: 60px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 43px;
  position: absolute;
  top: 0;
  left: 1037px;
  border-radius: 40px;
  border: 2px solid;
  border-color: var(--colorpurple);
  box-shadow: var(--shadow);
}

.admin-dashboard .content-4 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -2px;
  margin-bottom: -2px;
}

.admin-dashboard .text-wrapper-20 {
  position: relative;
  width: fit-content;
  font-family: var(--text-text-regular-1-font-family);
  font-weight: var(--text-text-regular-1-font-weight);
  color: var(--colorpurple);
  font-size: var(--text-text-regular-1-font-size);
  letter-spacing: var(--text-text-regular-1-letter-spacing);
  line-height: var(--text-text-regular-1-line-height);
  font-style: var(--text-text-regular-1-font-style);
}

.admin-dashboard .search-bar {
  display: flex;
  width: 350px;
  height: 60px;
  align-items: center;
  padding: 2px 32px 2px 0px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--colorwhite);
  border-radius: 40px;
}

.admin-dashboard .frame {
  display: inline-flex;
  height: 60px;
  align-items: center;
  gap: 16px;
  padding: 23px 32px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -2px;
  margin-bottom: -2px;
  border-radius: 22px;
}

.admin-dashboard .search {
  position: relative;
  width: 32px;
  height: 32px;
  margin-top: -9px;
  margin-bottom: -9px;
}

.admin-dashboard .text-wrapper-21 {
  position: relative;
  width: fit-content;
  margin-top: -7.5px;
  margin-bottom: -5.5px;
  font-family: var(--text-text-regular-1-font-family);
  font-weight: var(--text-text-regular-1-font-weight);
  color: var(--colorgray-3);
  font-size: var(--text-text-regular-1-font-size);
  letter-spacing: var(--text-text-regular-1-letter-spacing);
  line-height: var(--text-text-regular-1-line-height);
  font-style: var(--text-text-regular-1-font-style);
}

.admin-dashboard .menu {
  position: absolute;
  width: 313px;
  height: 60px;
  top: 50px;
  left: 1557px;
}

.admin-dashboard .placeholder-3 {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  left: 253px;
  background-color: #c1bbeb;
  border-radius: 40px;
}

.admin-dashboard .name-2 {
  position: absolute;
  width: 72px;
  height: 46px;
  top: 7px;
  left: 165px;
}

.admin-dashboard .text-wrapper-22 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--text-text-semi-bold-2-font-family);
  font-weight: var(--text-text-semi-bold-2-font-weight);
  color: var(--colortext);
  font-size: var(--text-text-semi-bold-2-font-size);
  letter-spacing: var(--text-text-semi-bold-2-letter-spacing);
  line-height: var(--text-text-semi-bold-2-line-height);
  font-style: var(--text-text-semi-bold-2-font-style);
}

.admin-dashboard .text-wrapper-23 {
  position: absolute;
  top: 25px;
  left: 18px;
  font-family: var(--text-text-regular-2-font-family);
  font-weight: var(--text-text-regular-2-font-weight);
  color: var(--colorgray-3);
  font-size: var(--text-text-regular-2-font-size);
  letter-spacing: var(--text-text-regular-2-letter-spacing);
  line-height: var(--text-text-regular-2-line-height);
  font-style: var(--text-text-regular-2-font-style);
}

.admin-dashboard .notification {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  background-color: var(--colorwhite);
  border-radius: 40px;
  box-shadow: var(--shadow);
}

.admin-dashboard .overlap-group-3 {
  position: relative;
  width: 36px;
  height: 36px;
  top: 10px;
  left: 14px;
}

.admin-dashboard .bell {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 4px;
  left: 0;
}

.admin-dashboard .ellipse {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 0;
  left: 28px;
  background-color: var(--colorpurple);
  border-radius: 4px;
}

.admin-dashboard .setting {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  left: 80px;
  background-color: var(--colorwhite);
  border-radius: 40px;
  box-shadow: var(--shadow);
}

.admin-dashboard .gear {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 14px;
  left: 14px;
}
