.checkout {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.checkout .div {
  background-color: #ffffff;
  width: 1920px;
  height: 3180px;
  position: relative;
}

.checkout .overlap {
  position: absolute;
  width: 1082px;
  height: 765px;
  top: 912px;
  left: 133px;
}

.checkout .rectangle {
  position: absolute;
  width: 1080px;
  height: 765px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 6px;
}

.checkout .rectangle-2 {
  position: absolute;
  width: 1080px;
  height: 80px;
  top: 0;
  left: 0;
  background-color: var(--blue-1);
  border-radius: 6px 6px 0px 0px;
}

.checkout .text-wrapper {
  position: absolute;
  width: 177px;
  top: 23px;
  left: 86px;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 24px;
}

.checkout .frame {
  display: flex;
  width: 667px;
  height: 59px;
  align-items: center;
  gap: 10px;
  padding: 11px 12px 12px;
  position: absolute;
  top: 305px;
  left: 43px;
  background-color: var(--gray-6);
  border-radius: 4px;
}

.checkout .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  color: var(--gray-6);
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 21px;
  white-space: nowrap;
}

.checkout .div-wrapper {
  display: flex;
  width: 667px;
  height: 59px;
  align-items: center;
  gap: 10px;
  padding: 11px 12px 12px;
  position: absolute;
  top: 422px;
  left: 43px;
  background-color: var(--gray-6);
  border-radius: 4px;
}

.checkout .frame-2 {
  display: flex;
  width: 320px;
  height: 59px;
  align-items: center;
  gap: 10px;
  padding: 11px 12px 12px;
  position: absolute;
  top: 653px;
  left: 43px;
  background-color: var(--gray-6);
  border-radius: 4px;
}

.checkout .frame-3 {
  display: flex;
  width: 320px;
  height: 59px;
  align-items: center;
  gap: 10px;
  padding: 11px 12px 12px;
  position: absolute;
  top: 653px;
  left: 390px;
  background-color: var(--gray-6);
  border-radius: 4px;
}

.checkout .frame-4 {
  display: flex;
  width: 200px;
  height: 56px;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  position: absolute;
  top: 539px;
  left: 43px;
  background-color: var(--gray-6);
  border-radius: 4px;
}

.checkout .text-wrapper-3 {
  position: relative;
  flex: 1;
  height: 22px;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  color: var(--gray-3);
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 21px;
  white-space: nowrap;
}

.checkout .arrow-down {
  position: relative;
  width: 16px;
  height: 16px;
}

.checkout .frame-5 {
  display: flex;
  width: 200px;
  height: 56px;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  position: absolute;
  top: 539px;
  left: 259px;
  background-color: var(--gray-6);
  border-radius: 4px;
}

.checkout .text-wrapper-4 {
  position: absolute;
  width: 116px;
  top: 272px;
  left: 43px;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  color: #181818;
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: 19.6px;
}

.checkout .text-wrapper-5 {
  position: absolute;
  width: 213px;
  top: 389px;
  left: 43px;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  color: #181818;
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: 19.6px;
}

.checkout .text-wrapper-6 {
  position: absolute;
  width: 119px;
  top: 620px;
  left: 43px;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  color: #181818;
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: 19.6px;
}

.checkout .text-wrapper-7 {
  position: absolute;
  width: 129px;
  top: 620px;
  left: 390px;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  color: #181818;
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: 19.6px;
}

.checkout .text-wrapper-8 {
  position: absolute;
  width: 128px;
  top: 506px;
  left: 43px;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  color: #181818;
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: 19.6px;
}

.checkout .img {
  position: absolute;
  width: 37px;
  height: 37px;
  top: 21px;
  left: 27px;
}

.checkout .rectangle-3 {
  position: absolute;
  width: 1082px;
  height: 63px;
  top: 80px;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 1px 0px #e0e0e0;
}

.checkout .frame-6 {
  display: flex;
  width: 456px;
  height: 53px;
  align-items: flex-start;
  gap: 14px;
  position: absolute;
  top: 90px;
  left: 43px;
}

.checkout .frame-7 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.checkout .frame-8 {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 14px;
  position: relative;
  flex: 0 0 auto;
}

.checkout .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  color: var(--gray-1);
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: normal;
}

.checkout .rectangle-4 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 3px;
  background-color: var(--blue-1);
}

.checkout .rectangle-5 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 3px;
}

.checkout .rectangle-6 {
  position: absolute;
  width: 80px;
  height: 53px;
  top: 186px;
  left: 43px;
  background-color: var(--gray-6);
  border-radius: 5px;
}

.checkout .rectangle-7 {
  position: absolute;
  width: 80px;
  height: 53px;
  top: 186px;
  left: 131px;
  background-color: var(--gray-6);
  border-radius: 5px;
}

.checkout .rectangle-8 {
  position: absolute;
  width: 80px;
  height: 53px;
  top: 186px;
  left: 219px;
  background-color: var(--gray-6);
  border-radius: 5px;
}

.checkout .rectangle-9 {
  position: absolute;
  width: 80px;
  height: 53px;
  top: 186px;
  left: 307px;
  background-color: var(--gray-6);
  border-radius: 5px;
}

.checkout .image {
  position: absolute;
  width: 57px;
  height: 32px;
  top: 196px;
  left: 55px;
  object-fit: cover;
}

.checkout .image-2 {
  position: absolute;
  width: 57px;
  height: 32px;
  top: 196px;
  left: 143px;
  object-fit: cover;
}

.checkout .image-3 {
  position: absolute;
  width: 71px;
  height: 25px;
  top: 199px;
  left: 311px;
}

.checkout .image-4 {
  position: absolute;
  width: 46px;
  height: 40px;
  top: 192px;
  left: 236px;
}

.checkout .overlap-group {
  position: absolute;
  width: 1920px;
  height: 1464px;
  top: 1716px;
  left: 0;
}

.checkout .rectangle-10 {
  position: absolute;
  width: 1080px;
  height: 562px;
  top: 0;
  left: 133px;
  background-color: #ffffff;
  border-radius: 6px;
}

.checkout .rectangle-11 {
  position: absolute;
  width: 1080px;
  height: 80px;
  top: 0;
  left: 133px;
  background-color: var(--yellow);
  border-radius: 6px 6px 0px 0px;
}

.checkout .p {
  position: absolute;
  width: 438px;
  top: 23px;
  left: 165px;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  color: var(--gray-1);
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 24px;
}

.checkout .by-clicking-the {
  position: absolute;
  width: 1016px;
  top: 161px;
  left: 176px;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  color: transparent;
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: 19.6px;
}

.checkout .span {
  color: #4f4f4f;
  letter-spacing: 0.04px;
}

.checkout .text-wrapper-10 {
  color: #2f80ed;
  letter-spacing: 0.04px;
}

.checkout .text-wrapper-11 {
  position: absolute;
  width: 975px;
  top: 352px;
  left: 219px;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  color: var(--gray-2);
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: 19.6px;
}

.checkout .lock-circle {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 352px;
  left: 176px;
}

.checkout .frame-9 {
  display: flex;
  width: 214px;
  height: 58px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 18px;
  position: absolute;
  top: 247px;
  left: 176px;
  background-color: var(--blue-1);
  border-radius: 6px;
}

.checkout .text-wrapper-12 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 20px;
  white-space: nowrap;
}

.checkout .footer {
  position: absolute;
  width: 1920px;
  height: 974px;
  top: 490px;
  left: 0;
  background-color: transparent;
}

.checkout .overlap-2 {
  position: relative;
  width: 1920px;
  height: 974px;
}

.checkout .background {
  height: 562px;
  top: 412px;
  background-color: #2f0941;
  position: absolute;
  width: 1920px;
  left: 0;
}

.checkout .background-2 {
  height: 115px;
  top: 411px;
  position: absolute;
  width: 1920px;
  left: 0;
}

.checkout .copyright {
  position: absolute;
  width: 1920px;
  height: 57px;
  top: 901px;
  left: 0;
}

.checkout .line {
  width: 1920px;
  height: 1px;
  top: -1px;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.checkout .copyright-partypro-wrapper {
  display: flex;
  width: 1195px;
  align-items: center;
  gap: 238px;
  position: absolute;
  top: 17px;
  left: 662px;
}

.checkout .copyright-partypro {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Krub", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
}

.checkout .text-wrapper-13 {
  font-family: "Krub", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 40px;
}

.checkout .content {
  position: absolute;
  width: 1309px;
  height: 314px;
  top: 556px;
  left: 328px;
}

.checkout .pages {
  display: flex;
  flex-direction: column;
  width: 86px;
  align-items: flex-start;
  gap: 74px;
  position: absolute;
  top: 0;
  left: 763px;
}

.checkout .about-us-our-team {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Krub", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 40px;
}

.checkout .subscribe {
  display: flex;
  flex-direction: column;
  width: 317px;
  align-items: flex-start;
  gap: 85px;
  position: absolute;
  top: 8px;
  left: 992px;
}

.checkout .content-2 {
  display: flex;
  flex-direction: column;
  width: 317px;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.checkout .name {
  position: relative;
  width: 319px;
  height: 60px;
  margin-right: -2px;
}

.checkout .overlap-group-2 {
  position: relative;
  width: 317px;
  height: 60px;
  border: 1px solid;
  border-color: #4d5682;
}

.checkout .text-wrapper-14 {
  position: absolute;
  top: 20px;
  left: 29px;
  font-family: "League Spartan", Helvetica;
  font-weight: 400;
  color: #999999;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.checkout .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 303.22px;
  gap: 35px;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.checkout .button-2 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  gap: 10px;
  padding: 19px 36px;
  background: linear-gradient(
    180deg,
    rgb(255, 182.39, 41.44) 0%,
    rgb(255, 217.83, 86.06) 50.72%,
    rgb(255, 214.51, 165.75) 100%
  );
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.checkout .text-wrapper-15 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Krub", Helvetica;
  font-weight: 600;
  color: #22202a;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 21.6px;
  white-space: nowrap;
}

.checkout .follow {
  position: relative;
  width: 120.22px;
}

.checkout .logo {
  position: absolute;
  width: 182px;
  height: 36px;
  top: 8px;
  left: 0;
}

.checkout .text-wrapper-16 {
  position: absolute;
  top: 0;
  left: 37px;
  font-family: "Rubik", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.checkout .pattern {
  top: 5px;
  left: 2px;
  transform: rotate(-30deg);
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ffb82b;
}

.checkout .pattern-2 {
  top: 18px;
  left: 4px;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ffb82b;
}

.checkout .pattern-3 {
  top: 5px;
  left: 18px;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ffb82b;
}

.checkout .pattern-4 {
  top: 18px;
  left: 18px;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ffb82b;
}

.checkout .content-3 {
  display: flex;
  flex-direction: column;
  width: 319px;
  align-items: flex-start;
  gap: 33px;
  position: absolute;
  top: 0;
  left: 335px;
}

.checkout .join-the-partypro {
  position: relative;
  width: 319px;
  margin-top: -1px;
  font-family: "Krub", Helvetica;
  font-weight: 500;
  color: #e7e7e7;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24.2px;
}

.checkout .address {
  display: flex;
  flex-direction: column;
  width: 227px;
  align-items: flex-start;
  gap: 30px;
  position: relative;
  flex: 0 0 auto;
}

.checkout .email {
  position: relative;
  width: 226px;
  height: 63px;
}

.checkout .text-wrapper-17 {
  position: absolute;
  top: 11px;
  left: 77px;
  font-family: "Krub", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18.9px;
}

.checkout .icon {
  position: absolute;
  width: 63px;
  height: 63px;
  top: 0;
  left: 0;
  background-color: #101b55;
  border-radius: 31.5px;
  border: 1px solid;
  border-color: #26326f;
}

.checkout .vector-wrapper {
  position: relative;
  width: 21px;
  height: 16px;
  top: 22px;
  left: 22px;
  background-image: url(./img/vector-2.svg);
  background-size: 100% 100%;
}

.checkout .vector {
  position: absolute;
  width: 21px;
  height: 8px;
  top: 0;
  left: 0;
}

.checkout .call {
  position: relative;
  width: 186px;
  height: 68px;
}

.checkout .vector-2 {
  position: absolute;
  width: 19px;
  height: 18px;
  top: 20px;
  left: 22px;
}

.checkout .image-5 {
  position: absolute;
  width: 1920px;
  height: 412px;
  top: 0;
  left: 0;
}

.checkout .div-2 {
  position: absolute;
  width: 1920px;
  height: 160px;
  top: 0;
  left: 0;
}

.checkout .rectangle-12 {
  position: absolute;
  width: 1920px;
  height: 90px;
  top: 49px;
  left: 0;
  background-color: #ffffff;
}

.checkout .overlap-group-3 {
  position: relative;
  height: 160px;
}

.checkout .header {
  background-image: url(./img/background-1.svg);
  background-size: 100% 100%;
  position: absolute;
  width: 1920px;
  height: 160px;
  top: 0;
  left: 0;
}

.checkout .logo-header {
  display: flex;
  width: 1199px;
  align-items: center;
  gap: 244px;
  position: relative;
  top: 62px;
  left: 58px;
}

.checkout .logo-2 {
  position: relative;
  width: 182.13px;
  height: 36px;
}

.checkout .menu {
  position: absolute;
  width: 522px;
  height: 22px;
  top: 65px;
  left: 1267px;
}

.checkout .menu-2 {
  display: flex;
  width: 522px;
  align-items: center;
  gap: 30px;
  position: relative;
}

.checkout .text-wrapper-18 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Krub", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 21.6px;
  white-space: nowrap;
}

.checkout .about {
  position: relative;
  width: 78px;
  height: 22px;
}

.checkout .text-wrapper-19 {
  position: absolute;
  top: 0;
  left: 30px;
  font-family: "Krub", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 21.6px;
  white-space: nowrap;
}

.checkout .line-2 {
  width: 1px;
  height: 19px;
  top: 2px;
  left: -1px;
  position: absolute;
  object-fit: cover;
}

.checkout .pages-2 {
  position: relative;
  width: 85px;
  height: 22px;
}

.checkout .pages-3 {
  position: absolute;
  width: 57px;
  height: 22px;
  top: 0;
  left: 30px;
}

.checkout .text-wrapper-20 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Krub", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 21.6px;
  white-space: nowrap;
}

.checkout .project {
  position: relative;
  width: 121px;
  height: 22px;
}

.checkout .contact {
  position: relative;
  width: 82px;
  height: 22px;
  margin-right: -4.39px;
}

.checkout .text-wrapper-21 {
  position: absolute;
  width: 1094px;
  height: 42px;
  top: 218px;
  left: 133px;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  color: #191919;
  font-size: 32px;
  letter-spacing: 0.32px;
  line-height: normal;
}

.checkout .overlap-3 {
  position: absolute;
  width: 1654px;
  height: 96px;
  top: 301px;
  left: 133px;
  background-color: #fcefca;
  border-radius: 8px;
}

.checkout .check-the-latest {
  position: absolute;
  width: 635px;
  top: 32px;
  left: 100px;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  color: transparent;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 22.4px;
}

.checkout .text-wrapper-22 {
  color: #333333;
  letter-spacing: 0.05px;
}

.checkout .text-wrapper-23 {
  color: #2f80ed;
  letter-spacing: 0.05px;
}

.checkout .danger {
  position: absolute;
  width: 43px;
  height: 42px;
  top: 27px;
  left: 32px;
}

.checkout .overlap-4 {
  position: absolute;
  width: 1080px;
  height: 435px;
  top: 437px;
  left: 133px;
  background-color: #ffffff;
  border-radius: 6px;
}

.checkout .overlap-5 {
  position: absolute;
  width: 1080px;
  height: 79px;
  top: 0;
  left: 0;
  background-color: var(--blue-1);
  border-radius: 6px 6px 0px 0px;
}

.checkout .text-wrapper-24 {
  width: 78px;
  top: 23px;
  left: 86px;
  color: #ffffff;
  line-height: 24px;
  position: absolute;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 0.18px;
}

.checkout .text-wrapper-25 {
  position: absolute;
  width: 483px;
  top: 23px;
  left: 188px;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 24px;
}

.checkout .frame-10 {
  display: flex;
  width: 320px;
  height: 58px;
  align-items: center;
  gap: 10px;
  padding: 11px 12px 12px;
  position: absolute;
  top: 154px;
  left: 43px;
  background-color: var(--gray-6);
  border-radius: 4px;
}

.checkout .frame-11 {
  display: flex;
  width: 200px;
  height: 59px;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  position: absolute;
  top: 270px;
  left: 43px;
  background-color: var(--gray-6);
  border-radius: 4px;
}

.checkout .image-6 {
  position: relative;
  width: 24px;
  height: 24px;
  object-fit: cover;
}

.checkout .text-wrapper-26 {
  position: relative;
  width: 60px;
  height: 22px;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  color: var(--gray-1);
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 21px;
  white-space: nowrap;
}

.checkout .frame-12 {
  display: flex;
  width: 451px;
  height: 59px;
  align-items: center;
  gap: 10px;
  padding: 11px 12px 12px;
  position: absolute;
  top: 270px;
  left: 259px;
  background-color: var(--gray-6);
  border-radius: 4px;
}

.checkout .frame-13 {
  display: flex;
  width: 320px;
  height: 58px;
  align-items: center;
  gap: 10px;
  padding: 11px 12px 12px;
  position: absolute;
  top: 154px;
  left: 390px;
  background-color: var(--gray-6);
  border-radius: 4px;
}

.checkout .text-wrapper-27 {
  position: absolute;
  width: 88px;
  top: 121px;
  left: 43px;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  color: #181818;
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: 19.6px;
}

.checkout .text-wrapper-28 {
  position: absolute;
  width: 125px;
  top: 238px;
  left: 43px;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  color: #181818;
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: 19.6px;
}

.checkout .text-wrapper-29 {
  position: absolute;
  width: 86px;
  top: 121px;
  left: 390px;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  color: #181818;
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: 19.6px;
}

.checkout .rectangle-13 {
  position: absolute;
  width: 27px;
  height: 27px;
  top: 355px;
  left: 43px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid;
  border-color: var(--gray-4);
}

.checkout .text-wrapper-30 {
  position: absolute;
  width: 298px;
  height: 27px;
  top: 354px;
  left: 80px;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  color: var(--gray-1);
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: normal;
}

.checkout .overlap-6 {
  position: absolute;
  width: 534px;
  height: 531px;
  top: 437px;
  left: 1253px;
  background-color: #ffffff;
  border-radius: 6px;
}

.checkout .rectangle-14 {
  position: absolute;
  width: 534px;
  height: 239px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.checkout .non-refundable-wrapper {
  display: inline-flex;
  flex-direction: column;
  height: 138px;
  align-items: flex-start;
  gap: 8px;
  position: absolute;
  top: 366px;
  left: 27px;
}

.checkout .non-refundable {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  color: var(--red);
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 20px;
  white-space: nowrap;
}

.checkout .text-wrapper-31 {
  width: 269px;
  top: 264px;
  left: 27px;
  color: #181818;
  line-height: normal;
  position: absolute;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 0.18px;
}

.checkout .group {
  width: 287px;
  top: 306px;
  left: 27px;
  position: absolute;
  height: 27px;
}

.checkout .text-wrapper-32 {
  position: absolute;
  width: 160px;
  height: 27px;
  top: 0;
  left: 125px;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  color: var(--gray-2);
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: 19.6px;
}

.checkout .group-2 {
  width: 109px;
  top: 0;
  left: 0;
  position: absolute;
  height: 27px;
}

.checkout .overlap-7 {
  position: absolute;
  width: 534px;
  height: 448px;
  top: 1008px;
  left: 1253px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid;
  border-color: var(--gray-5);
}

.checkout .frame-14 {
  display: flex;
  width: 534px;
  height: 73px;
  align-items: flex-start;
  gap: 10px;
  padding: 18px;
  position: absolute;
  top: -1px;
  left: -1px;
  background-color: #84e0aa;
  border-radius: 6px 6px 0px 0px;
}

.checkout .text-wrapper-33 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  color: #181818;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: normal;
}

.checkout .text-wrapper-34 {
  position: absolute;
  width: 46px;
  top: 230px;
  left: 23px;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  color: #181818;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: normal;
}

.checkout .text-wrapper-35 {
  position: absolute;
  width: 139px;
  top: 101px;
  left: 23px;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  color: var(--gray-2);
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 20px;
}

.checkout .text-wrapper-36 {
  width: 74px;
  top: 101px;
  left: 435px;
  color: var(--gray-2);
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 20px;
  position: absolute;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  text-align: right;
}

.checkout .text-wrapper-37 {
  width: 64px;
  height: 32px;
  top: 223px;
  left: 445px;
  color: var(--gray-1);
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: normal;
  position: absolute;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  text-align: right;
}

.checkout .text-wrapper-38 {
  position: absolute;
  width: 334px;
  top: 268px;
  left: 23px;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  color: var(--blue-1);
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: 19.6px;
}

.checkout .vector-3 {
  position: absolute;
  width: 534px;
  height: 1px;
  top: 198px;
  left: -1px;
  object-fit: cover;
}

.checkout .frame-15 {
  display: flex;
  width: 302px;
  height: 58px;
  align-items: center;
  gap: 10px;
  padding: 11px 12px 12px;
  position: absolute;
  top: 357px;
  left: 23px;
  background-color: var(--gray-6);
  border-radius: 4px;
}

.checkout .text-wrapper-39 {
  position: absolute;
  width: 114px;
  top: 324px;
  left: 23px;
  font-family: "Poppins", Helvetica;
  font-weight: 900;
  color: #181818;
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: 19.6px;
}

.checkout .frame-16 {
  display: flex;
  width: 176px;
  height: 58px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 18px;
  position: absolute;
  top: 357px;
  left: 333px;
  background-color: var(--gray-1);
  border-radius: 6px;
}
