.background-icon19,
.checklist3 {
  width: 60px;
  height: 60px;
  position: relative;
  display: none;
}
.background-icon19 {
  height: 106.7px;
  width: 1280px;
  max-width: 100%;
}
.pattern80,
.pattern81 {
  position: absolute;
  background-color: var(--color-orange);
  z-index: 1;
}
.pattern80 {
  top: 3.55px;
  left: -0.3px;
  width: 6.5px;
  height: 6.5px;
  transform: rotate(-30deg);
  transform-origin: 0 0;
}
.pattern81 {
  top: 10.3px;
  left: 2.4px;
  width: 6.7px;
  height: 6.7px;
}
.rectangle5 {
  width: 9px;
  height: 17px;
  position: relative;
}
.rectangle4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-12xs) 0 0;
}
.pattern82,
.pattern83 {
  position: absolute;
  top: -0.3px;
  left: -0.2px;
  background-color: var(--color-orange);
  width: 6.7px;
  height: 6.7px;
  z-index: 1;
}
.pattern83 {
  top: 8.3px;
}
.text-frame3 {
  width: 7px;
  height: 15px;
  position: relative;
}
.party-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-12xs) 0 0;
}
.partypro19 {
  position: relative;
  font-weight: 600;
  white-space: nowrap;
  z-index: 1;
}
.pattern79 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 1px;
}
.home9 {
  line-height: 135.02%;
  font-weight: 600;
}
.about9,
.call-us-text,
.home9 {
  position: relative;
  z-index: 2;
}
.call-us-text {
  height: 12.7px;
  width: 1px;
  border-right: 0.7px solid var(--color-gray-400);
  box-sizing: border-box;
}
.about9 {
  line-height: 135.02%;
  font-weight: 600;
}
.call-us-text1 {
  height: 12.7px;
  width: 1px;
  border-right: 0.7px solid var(--color-gray-400);
  box-sizing: border-box;
}
.call-us-text1,
.call-us-text2,
.pricing18 {
  position: relative;
  z-index: 2;
}
.pricing18 {
  line-height: 135.02%;
  font-weight: 600;
}
.call-us-text2 {
  height: 12.7px;
  width: 1px;
  border-right: 0.7px solid var(--color-gray-400);
  box-sizing: border-box;
}
.my-projects11 {
  position: relative;
  line-height: 135.02%;
  font-weight: 600;
  white-space: nowrap;
  z-index: 2;
}
.call-us-text3 {
  height: 12.7px;
  width: 1px;
  position: relative;
  border-right: 0.7px solid var(--color-gray-400);
  box-sizing: border-box;
  z-index: 2;
}
.features9 {
  line-height: 135.02%;
  font-weight: 600;
}
.call-us-text4,
.features9,
.signin9 {
  position: relative;
  z-index: 2;
}
.call-us-text4 {
  height: 12.7px;
  width: 1px;
  border-right: 0.7px solid var(--color-gray-400);
  box-sizing: border-box;
}
.signin9 {
  line-height: 135.02%;
  font-weight: 600;
}
.icon-frame1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 0;
  gap: 0 18.3px;
}
.email-contact-text,
.header6 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.email-contact-text {
  width: 433px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
  font-size: var(--font-size-2xs-7);
  font-family: var(--font-krub);
}
.header6 {
  align-self: stretch;
  background-color: var(--color-midnightblue-100);
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-22xl) var(--padding-44xl) var(--padding-22xl)
    var(--padding-19xl);
  gap: var(--gap-xl);
  top: 0;
  z-index: 99;
  position: sticky;
}
.button-send-now-text-child {
  width: 312px;
  height: 820.7px;
  position: relative;
  border-radius: 13.33px;
  background-color: var(--color-midnightblue-300);
  display: none;
}
.step-013 {
  width: 64px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.follow-frame2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs);
  font-size: var(--font-size-sm-4);
}
.background-vector-child {
  position: absolute;
  top: -0.3px;
  left: 0;
  border-radius: 13.33px;
  background-color: var(--color-gainsboro-400);
  width: 100%;
  height: 100%;
  display: none;
}
.schedule-icon4 {
  position: absolute;
  top: 7.7px;
  left: 10px;
  width: 30px;
  height: 30px;
  object-fit: cover;
  z-index: 3;
}
.background-vector5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro-400);
  height: 49px;
  flex: 1;
  position: relative;
  border-radius: 13.33px;
  z-index: 2;
}
.square-container {
  width: 51px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.step-023 {
  flex: 1;
  position: relative;
  z-index: 2;
}
.plus-button {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) var(--padding-10xs) var(--padding-8xs);
}
.frame-child39 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 13.33px;
  background-color: var(--color-gainsboro-400);
  width: 100%;
  height: 100%;
  display: none;
}
.paint-palette-icon3 {
  position: absolute;
  top: 9.3px;
  left: 10px;
  width: 30px;
  height: 30px;
  object-fit: cover;
  z-index: 3;
}
.rectangle-parent25 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro-400);
  height: 49px;
  flex: 1;
  position: relative;
  border-radius: 13.33px;
  z-index: 2;
}
.square-container1 {
  width: 51px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.step-033 {
  flex: 1;
  position: relative;
  z-index: 2;
}
.square-container2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) var(--padding-6xs) var(--padding-8xs);
}
.parent-frame-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 13.33px;
  background-color: var(--color-gainsboro-400);
  width: 100%;
  height: 100%;
  display: none;
}
.arena-icon3 {
  position: absolute;
  top: 8px;
  left: 10.7px;
  width: 30px;
  height: 30px;
  object-fit: cover;
  z-index: 3;
}
.parent-frame1,
.step-043 {
  position: relative;
  z-index: 2;
}
.parent-frame1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro-400);
  width: 51px;
  height: 49px;
  border-radius: 13.33px;
}
.step-043 {
  flex: 1;
}
.square-container3,
.step-frame-row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.square-container3 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-12xs) 0 var(--padding-8xs);
}
.step-frame-row {
  width: 75px;
  flex-direction: column;
  gap: 9px 0;
}
.choose-time3,
.choose-venue3,
.select-theme3 {
  height: 12px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.choose-venue3,
.select-theme3 {
  width: 102.7px;
  height: 10px;
}
.choose-venue3 {
  width: 106.7px;
  height: 14px;
}
.line-separator6 {
  align-self: stretch;
  flex-direction: column;
  gap: 80px 0;
}
.copy-right-info,
.copyright-text1,
.line-separator6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.copy-right-info {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-lg) 0 0;
  margin-left: -2px;
}
.copyright-text1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-9xs);
}
.about-us-frame-child {
  position: absolute;
  top: -0.3px;
  left: 0;
  border-radius: 13.33px;
  background-color: var(--color-gainsboro-400);
  width: 100%;
  height: 100%;
  display: none;
}
.neutral-decision-icon3 {
  position: absolute;
  top: 9px;
  left: 10px;
  width: 30px;
  height: 30px;
  object-fit: cover;
  z-index: 3;
}
.about-us-frame4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro-400);
  width: 51px;
  height: 49px;
  position: relative;
  border-radius: 13.33px;
  z-index: 2;
}
.step-053 {
  flex: 1;
  position: relative;
  z-index: 2;
}
.button-instance2,
.follow-button2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-instance2 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-12xs) 0 var(--padding-8xs);
}
.follow-button2 {
  width: 75px;
  flex-direction: column;
  gap: 8px 0;
}
.decide-culinary3 {
  align-self: stretch;
  height: 14px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.email-input-field,
.project-pricing-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.project-pricing-frame {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
  margin-left: -2px;
}
.email-input-field {
  align-self: stretch;
  flex-direction: row;
}
.background-vector-item {
  position: absolute;
  top: 0.3px;
  left: 0;
  border-radius: 13.33px;
  background-color: var(--color-gainsboro-400);
  width: 100%;
  height: 100%;
  display: none;
}
.inquiry-icon3 {
  position: absolute;
  top: 11px;
  left: 10px;
  width: 30px;
  height: 30px;
  object-fit: cover;
  z-index: 3;
}
.background-vector6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro-400);
  height: 49px;
  width: 51px;
  position: relative;
  border-radius: 13.33px;
  z-index: 2;
}
.choose-vendors3 {
  height: 12px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.vendor-selection-frame {
  width: 195px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
  gap: 0 21px;
}
.step-063 {
  flex: 1;
  position: relative;
  flex-shrink: 0;
  z-index: 2;
}
.button-instance3 {
  width: 79px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs);
  box-sizing: border-box;
}
.frame-child40 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 13.33px;
  background-color: var(--color-gainsboro-400);
  width: 100%;
  height: 100%;
  display: none;
}
.love-mail-icon3 {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 30px;
  height: 30px;
  object-fit: cover;
  z-index: 3;
}
.rectangle-parent26 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro-400);
  width: 51px;
  height: 49px;
  position: relative;
  border-radius: 13.33px;
  z-index: 2;
}
.step-073 {
  flex: 1;
  position: relative;
  z-index: 2;
}
.call-us-text5,
.send-now-button3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.call-us-text5 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-8xs);
}
.send-now-button3 {
  width: 72px;
  flex-direction: column;
  gap: 14px 0;
}
.invitation-management3 {
  align-self: stretch;
  position: relative;
  z-index: 2;
}
.name-frame3 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-xl) 0 0;
}
.label-text,
.name-frame3,
.party-p-r-o-text3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.label-text {
  align-self: stretch;
  flex-direction: row;
}
.party-p-r-o-text3 {
  width: 249px;
  flex-direction: column;
  gap: 8px 0;
}
.create-custom-checklist3 {
  height: 12px;
  width: 185.3px;
  position: absolute;
  margin: 0 !important;
  top: 19.3px;
  right: -182.3px;
  display: inline-block;
  z-index: 2;
}
.square-instance-child {
  position: absolute;
  top: -0.3px;
  left: 0;
  border-radius: 13.33px;
  background-color: var(--color-gainsboro-400);
  width: 100%;
  height: 100%;
  display: none;
}
.pass-fail-icon3 {
  position: absolute;
  top: 9px;
  left: 10px;
  width: 30px;
  height: 30px;
  object-fit: cover;
  z-index: 3;
}
.square-instance {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro-400);
  width: 51px;
  height: 49px;
  position: relative;
  border-radius: 13.33px;
  z-index: 2;
}
.step-083 {
  height: 14.7px;
  flex: 1;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.square-instance-parent,
.square-instance1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.square-instance1 {
  align-self: stretch;
  height: 15px;
  flex-direction: row;
  padding: 0 var(--padding-12xs) 0 var(--padding-8xs);
  box-sizing: border-box;
}
.square-instance-parent {
  flex: 1;
  flex-direction: column;
  gap: 16px 0;
}
.create-custom-checklist-group {
  width: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
.contact-button {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-2xs);
  gap: 10px 0;
}
.inner-square-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 13.33px;
  background-color: var(--color-gainsboro-400);
  width: 100%;
  height: 100%;
  display: none;
}
.shredder-icon3 {
  position: absolute;
  top: 9.3px;
  left: 10px;
  width: 30px;
  height: 30px;
  object-fit: cover;
  z-index: 3;
}
.inner-square {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro-400);
  height: 49px;
  width: 51px;
  position: relative;
  border-radius: 13.33px;
  z-index: 2;
}
.generate-printable-plan3 {
  align-self: stretch;
  position: relative;
  z-index: 2;
}
.button-instance4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-8xs);
}
.background-vector7,
.square-container4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.square-container4 {
  flex: 1;
  align-items: center;
  gap: 0 21px;
}
.background-vector7 {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-13xl) 0 0;
}
.button-send-now-text {
  width: 312px;
  border-radius: 13.33px;
  background-color: var(--color-midnightblue-300);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-15xl) var(--padding-sm) var(--padding-34xl)
    var(--padding-mini);
  box-sizing: border-box;
  gap: 12px 0;
  min-width: 312px;
  z-index: 1;
}
.icon-frame-child,
.set-the-scene4 {
  width: 442.7px;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.icon-frame-child {
  height: 61.3px;
  width: 620.7px;
  border-radius: 13.33px;
  background-color: var(--color-gainsboro-400);
  display: none;
}
.add-a-task,
.plus-icon {
  position: relative;
  z-index: 1;
}
.add-a-task {
  width: calc(100% - 84.3px);
  border: 0;
  outline: 0;
  font-family: var(--text-text-regular-2);
  font-size: var(--font-size-xl-2);
  background-color: transparent;
  height: 36px;
  flex: 1;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 300px;
  max-width: 100%;
}
.plus-icon {
  height: 43.3px;
  width: 33.3px;
  object-fit: cover;
}
.icon-frame2,
.join-button {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.icon-frame2 {
  width: 621px;
  border-radius: 13.33px;
  background-color: var(--color-gainsboro-400);
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-4xl) var(--padding-4xs)
    var(--padding-9xl);
  box-sizing: border-box;
  gap: 0 63px;
}
.join-button {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-end;
}
.pattern-container2,
.set-the-scene-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.set-the-scene-group {
  flex: 1;
  flex-direction: column;
  gap: 36px 0;
}
.pattern-container2 {
  width: 712px;
  flex-direction: row;
  padding: 0 var(--padding-2xs);
  box-sizing: border-box;
}
.square-90-icon,
.square-91-icon,
.square-92-icon,
.square-93-icon,
.square-94-icon,
.square-95-icon,
.square-96-icon {
  width: 33.3px;
  height: 33.3px;
  position: relative;
  object-fit: cover;
}
.pattern-container3,
.plus-button1,
.square-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 29px 0;
}
.plus-button1,
.square-row {
  gap: 25px 0;
}
.square-row {
  gap: 29px 0;
}
.blank-line2,
.blank-line3,
.blank-line4,
.blank-line5,
.blank-line6,
.blank-line7,
.book-entertainment-plan,
.choose-venue-arrange,
.create-and-finalize,
.define-event-purpose,
.plan-decorations-lighting,
.select-menu-arrange,
.send-invitations-track {
  margin: 0;
}
.set-the-scene-container {
  height: 418px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.background-child {
  height: 106.7px;
  width: 66.7px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.background78 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.container,
.frame-container3,
.image-frame4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.container {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-4xs) 0 0;
  box-sizing: border-box;
  min-width: 492px;
}
.frame-container3,
.image-frame4 {
  align-self: stretch;
  flex-direction: row;
  gap: 0 60px;
}
.image-frame4 {
  flex-direction: column;
  gap: 43px 0;
}
.button-row5,
.button27,
.label11 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.label11 {
  position: relative;
  font-size: var(--body-large-size);
  font-family: var(--body-large);
  color: var(--color-white);
  text-align: left;
  white-space: nowrap;
}
.button-row5,
.button27 {
  flex-direction: row;
  justify-content: center;
}
.button27 {
  border-radius: 2.67px;
  border: 0.7px solid var(--purple-blue);
  overflow: hidden;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-5xs)
    var(--padding-xs);
}
.button-row5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 6.67px;
  background: linear-gradient(#300942, #300942), #fff;
}
.button-row-container {
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi) 0 0;
  box-sizing: border-box;
}
.copyright-info3,
.line-separator7 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.copyright-info3 {
  align-self: stretch;
  align-items: center;
  gap: 91px 0;
}
.line-separator7 {
  flex: 1;
  align-items: flex-start;
  padding: var(--padding-mid) var(--padding-12xs) 0 0;
  box-sizing: border-box;
  min-width: 553px;
  font-size: var(--font-size-xl-2);
  color: var(--color-black);
}
.name-text {
  flex: 1;
  flex-direction: row;
  gap: 0 15px;
}
.about-us-text,
.name-text,
.parent-node-a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.about-us-text {
  width: 1220px;
  flex-direction: row;
  padding: 0 var(--padding-2xl);
  box-sizing: border-box;
  font-size: var(--font-size-sm-3);
  font-family: var(--text-text-regular-2);
}
.parent-node-a {
  align-self: stretch;
  flex-direction: column;
  gap: 56px 0;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-rubik);
}
.image-icon14 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 2;
}
.background-icon20,
.background79,
.image-icon14 {
  align-self: stretch;
  position: relative;
}
.background79 {
  height: 374.7px;
  background-color: var(--color-midnightblue-100);
  display: none;
}
.background-icon20 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 1;
}
.pattern85,
.pattern86 {
  position: absolute;
  background-color: var(--color-orange);
  z-index: 1;
}
.pattern85 {
  top: 3.25px;
  left: -0.3px;
  width: 6.5px;
  height: 6.5px;
  transform: rotate(-30deg);
  transform-origin: 0 0;
}
.pattern86 {
  top: 10px;
  left: 2.4px;
  width: 6.7px;
  height: 6.7px;
}
.rectangle7 {
  width: 9px;
  height: 17px;
  position: relative;
}
.rectangle6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-12xs) 0 0;
}
.pattern87,
.pattern88 {
  position: absolute;
  top: 0.3px;
  left: -0.2px;
  background-color: var(--color-orange);
  width: 6.7px;
  height: 6.7px;
  z-index: 1;
}
.pattern88 {
  top: 9px;
}
.text-frame4 {
  width: 7px;
  height: 15px;
  position: relative;
}
.party-logo1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-12xs) 0 0;
}
.partypro20 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.pattern-wrapper,
.pattern84 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pattern84 {
  flex-direction: row;
  gap: 0 1px;
}
.pattern-wrapper {
  flex-direction: column;
  padding: var(--padding-7xs) var(--padding-17xl) 0 0;
  font-family: var(--font-rubik);
}
.join-the-partypro9 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-2xs-7);
  line-height: 151.52%;
  font-weight: 500;
  color: var(--color-gainsboro-100);
  z-index: 1;
}
.icon42 {
  height: 42px;
  width: 42px;
  position: relative;
  z-index: 1;
}
.contactpartyprocom9,
.email16 {
  margin: 0;
}
.email-contactpartyprocom9 {
  position: relative;
  line-height: 135.02%;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  z-index: 1;
}
.background-frame4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 9px;
}
.icon43 {
  width: 42px;
  height: 42px;
  position: relative;
  z-index: 1;
}
.text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-8xs);
}
.call-us10,
.p9 {
  margin: 0;
}
.call-us-00-container9 {
  height: 39px;
  position: relative;
  line-height: 135.02%;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.contact-section,
.join-the-partypro-community-fo-group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0 9px;
}
.join-the-partypro-community-fo-group {
  width: 213px;
  flex-direction: column;
  align-items: flex-start;
  gap: 21px 0;
  font-size: var(--font-size-3xs-3);
}
.about-us12,
.contact10,
.our-project9,
.our-team9,
.pricing19 {
  margin: 0;
}
.about-us-our-container9 {
  height: 135px;
  position: relative;
  line-height: 250%;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.about-us-our-team-our-project-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl) 0 0;
  font-size: var(--font-size-2xs-7);
}
.background80 {
  height: 40px;
  width: 211.3px;
  position: relative;
  border: 0.7px solid var(--color-steelblue);
  box-sizing: border-box;
  display: none;
}
.email-here9 {
  width: 64px;
  border: 0;
  outline: 0;
  font-family: var(--font-league-spartan);
  font-size: var(--font-size-sm-3);
  background-color: transparent;
  height: 12px;
  position: relative;
  color: var(--color-darkgray);
  text-align: left;
  display: inline-block;
  z-index: 1;
}
.name12 {
  align-self: stretch;
  border: 0.7px solid var(--color-steelblue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-xl);
  z-index: 2;
}
.send-now10 {
  position: relative;
  font-size: var(--font-size-2xs-7);
  line-height: 135.02%;
  font-weight: 600;
  font-family: var(--font-krub);
  color: var(--color-gray-500);
  text-align: left;
}
.button28 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-3xl) var(--padding-xs)
    var(--padding-5xl);
  background-color: transparent;
  background: linear-gradient(94.06deg, #ffb62a, #ffda56 50.72%, #ffd6a6);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 2;
}
.follow-icon9 {
  height: 14.5px;
  width: 80.1px;
  object-fit: contain;
  z-index: 1;
}
.column-frame,
.line6,
.send-icon {
  display: flex;
  justify-content: flex-start;
}
.send-icon {
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-4xs) 0 0;
  gap: 0 23px;
}
.column-frame,
.line6 {
  flex-direction: column;
  align-items: flex-start;
}
.line6 {
  align-self: stretch;
  gap: 13px 0;
}
.column-frame {
  width: 211px;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
}
.frame-parent33,
.frame-wrapper7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent33 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper7 {
  width: 902px;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xl);
  box-sizing: border-box;
}
.utility9 {
  width: 57.3px;
  display: none;
}
.footer-line1 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 0.7px solid var(--color-steelblue);
  box-sizing: border-box;
  z-index: 1;
}
.copyright-partypro9 {
  position: relative;
  line-height: 250%;
  font-weight: 500;
  z-index: 1;
}
.copyright-info4 {
  width: 438px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.follow-us-icon {
  align-self: stretch;
  align-items: center;
  gap: 12px 0;
  max-width: 100%;
  font-size: var(--font-size-2xs-7);
}
.background-parent6,
.follow-us-icon,
.image-parent1,
.planning-process-08 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.background-parent6 {
  align-self: stretch;
  background-color: var(--color-midnightblue-100);
  align-items: center;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
  gap: 19px 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-krub);
}
.image-parent1,
.planning-process-08 {
  align-items: flex-start;
}
.image-parent1 {
  align-self: stretch;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
.planning-process-08 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  gap: 86px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 975px) {
  .button-send-now-text {
    flex: 1;
    padding-top: var(--padding-3xl);
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
  .frame-container3 {
    flex-wrap: wrap;
    gap: 0 60px;
  }
  .copyright-info3 {
    gap: 91px 0;
  }
  .frame-parent33,
  .name-text {
    flex-wrap: wrap;
  }
  .frame-wrapper7 {
    max-width: calc(100% - 29px);
  }
}
@media screen and (max-width: 700px) {
  .header6 {
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
  .icon-frame2 {
    flex-wrap: wrap;
    gap: 0 63px;
  }
  .set-the-scene-group {
    gap: 36px 0;
  }
  .container,
  .line-separator7 {
    min-width: 100%;
  }
  .parent-node-a {
    gap: 56px 0;
  }
  .planning-process-08 {
    gap: 86px 0;
  }
}
@media screen and (max-width: 450px) {
  .partypro19 {
    font-size: var(--font-size-base);
  }
  .button-send-now-text {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-3xl);
    box-sizing: border-box;
  }
  .add-a-task,
  .set-the-scene4 {
    font-size: var(--font-size-base);
  }
  .icon-frame2 {
    gap: 0 63px;
  }
  .set-the-scene-container {
    font-size: var(--font-size-base);
  }
  .image-frame4 {
    gap: 43px 0;
  }
  .copyright-info3 {
    gap: 91px 0;
  }
  .partypro20 {
    font-size: var(--font-size-base);
  }
  .planning-process-08 {
    gap: 86px 0;
  }
}
